language: python

matrix:
  include:
    - env: TOX_ENV=py37-djangomaster
      python: 3.7
    - env: TOX_ENV=py36-djangomaster
      python: 3.6
    - env: TOX_ENV=py35-djangomaster
      python: 3.5
    - env: TOX_ENV=py36-django20
      python: 3.6
    - env: TOX_ENV=py35-django20
      python: 3.5
    - env: TOX_ENV=py34-django20
      python: 3.4
    - env: TOX_ENV=py36-django111
      python: 3.6
    - env: TOX_ENV=py35-django111
      python: 3.5
    - env: TOX_ENV=py34-django111
      python: 3.4
    - env: TOX_ENV=py27-django111
      python: 2.7
    - env: TOX_ENV=py35-django110
      python: 3.5
    - env: TOX_ENV=py34-django110
      python: 3.4
    - env: TOX_ENV=py27-django110
      python: 2.7
    - env: TOX_ENV=py35-django19
      python: 3.5
    - env: TOX_ENV=py34-django19
      python: 3.4
    - env: TOX_ENV=py27-django19
      python: 2.7
    - env: TOX_ENV=py35-django18
      python: 3.5
    - env: TOX_ENV=py34-django18
      python: 3.4
    - env: TOX_ENV=py33-django18
      python: 3.3
    - env: TOX_ENV=py27-django18
      python: 2.7
    - env: TOX_ENV=flake8
    - env: TOX_ENV=docs
  allow_failures:
    - env: TOX_ENV=py37-djangomaster
      python: 3.7
    - env: TOX_ENV=py36-djangomaster
      python: 3.6
    - env: TOX_ENV=py35-djangomaster
      python: 3.5
    - env: TOX_ENV=py36-django20
      python: 3.6
    - env: TOX_ENV=py35-django20
      python: 3.5
    - env: TOX_ENV=py34-django20
      python: 3.4
install: pip install tox

script: tox -e $TOX_ENV
