{% extends "mama_cas/login.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
<div class="warnlist"><ul>
    <li>An automatic login is being attempted as <strong>{{ user.username }}</strong>{% if service %} for <strong>{{ service }}</strong>{% endif %}. Do you want to proceed?</li>
</ul></div>
<form id="warn-form" method="post">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <fieldset class="inputs"></fieldset>
    <fieldset class="actions">
        <input class="button box" type="submit" name="submit_warn" value="{% trans "Yes, continue" %}" />
    </fieldset>
</form>
<div class="logout">
    <a href="{% url 'cas_logout' %}">{% trans "No, log me out" %}</a>
</div>
{% endblock content %}
